#Ignore thumbnails created by Windows
Thumbs.db
.DS_Store
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.suo
*.userprefs
obj/
#######
# Git
######
*.orig
*.orig.meta
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.MERGED.*

UnitTests/
Assembly-CSharp-vsTests/
Assembly*

#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
